{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
.position{
	position: absolute;
	width: 80%;
	height:180px;
	top:90%;
	left: 50%;
	transform: translate(-50%,-50%);

	
	
}
div.card {

  box-shadow: 0 4px 8px 0 rgba(1, 0, 0.9, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  text-align: center;

  

 
 
}
.positon{
	  border-top: 3px yellow;
 
}
.parallax {
  /* The image used 
  background-image: url("image/slide1.jpg");

  /* Set a specific height */
 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}